/* Начало CSS стилей fiveth-section */

.fiveth-section {
	margin-top: 5%;
}

.offer-6 {
	margin: auto 0;
}

.offer-6__label {}

.offer-6__title {
	margin-top: 50px;
}

.testimonials-authors__name {
	margin-top: 60px;
}

.testimonials-authors__about {
	margin-top: 10px;
}

.testimonials-photo {
	width: 100%;
	height: 100%;
}

.testimonials-offer-carousel {}

.testimonials-offer-carousel__append {
	padding-bottom: 50px;
}

/* Конец CSS стилей fiveth-section */