/* Начало CSS стилей sixth-section */

.sixth-section {
	margin-top: 5%;
}

.row-6-1 {
	height: 40%;
}

.row-6-2 {
	height: 60%;
}

.offer-7 {}

.clients-info__label {}

.offer-7__title {
	margin-top: 30px;
}

.clients-info {}

.clients-info__subtitle {
	margin-top: 40px;
}

.clients-info__icons {
	margin-top: 40px;
}

/* Конец CSS стилей sixth-section */